<div class="container" *ngIf="usuario; else loading">
  <div class="icon-container">
    <i class="fa fa-user"></i>
  </div>
  <div class="table-container">
    <table class="usuario-tabla">
      <tr>
        <th>ID</th>
        <td>{{ usuario.id }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ usuario.nombre }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ usuario.email }}</td>
      </tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <p>Loading user data...</p>
</ng-template>
