.grid-principal {
  gap: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  overflow: hidden;
  height: 100%;
}

.botones-nivel1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boton-tabla {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0.5rem;
}

.boton-tabla:hover {
  background-color: black;
  color: white;
}

.contenido-2 {
  grid-column: 1 / span 2;
  justify-self: center;
}
