<div class="inscripcion">
  <h2>Bienvenido, {{ usuario?.nombre }}</h2>
  <p>Tu email es: {{ usuario?.email }}</p>

  <div *ngIf="usuario">
    <div *ngIf="isEnrolled">
      <h3>Ya estás inscrito en el curso:</h3>
      <table class="courses-table">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of enrolledCursos">
            <td>{{ curso.nombre }}</td>
            <td class="actions">
              <button class="desinscribir" (click)="handleDesinscribir(curso.id)">Desinscribir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!isEnrolled">
      <h3>Selecciona un curso para inscribirte:</h3>
      <table class="courses-table">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of availableCursos">
            <td>{{ curso.nombre }}</td>
            <td class="actions">
              <button (click)="handleInscribir(curso.id)">Inscribir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
